@import '../../../../styles/mixins.scss';

.next,
.prev {
  @apply py-[0.5%];
  top: calc(50% - 20px);
  position: absolute;
  background: #2BB018;
  width: 40px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;

  @media screen and (max-width: 1440px) {
    width: calc(19px + (40 - 19)*(100vw - 768px)/(1440 - 768));
  }

  @media screen and (max-width: 576px) {
    @apply top-[107%];
    width: calc(30px + (40 - 30)*(100vw - 320px)/(768 - 320));
  }
}
.prev__disabled {
  @apply opacity-0 hidden;
}
.next__disabled {
  @apply opacity-0 hidden;
}
.next {
  right:10%;
  @media screen and (max-width: 1024px) {
    @apply right-[5%];
  }
  @media screen and (max-width: 576px) {
    @apply right-0;
  }
}
.prev {
  left: 10%;
  transform: scale(-1);
  @media screen and (max-width: 1024px) {
    @apply left-[5%];
  }
  @media screen and (max-width: 576px) {
    @apply left-0;
  }
}
.img__body {
  @apply relative h-auto max-w-full;
  @media screen and (max-width: 1024px) {
    @apply mx-[10%];
  }
}
.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.complex__grid_prev_item {
  @apply w-[13%] absolute bottom-[0%] left-[3%] duration-200;

  @media screen and (max-width: 576px) {
      @apply hidden opacity-0;
  }
}
.complex__grid_next_item {
  @apply w-[13%] absolute bottom-[0%] right-[3%] z-10;

  @media screen and (max-width: 576px) {
      @apply hidden opacity-0;
  }
}