// =============================================>

.gallery__inner {
  @apply flex space-x-0 w-full h-[581px];

  @media screen and(max-width: 1440px) {
    // height: calc(232px + (581 - 232)*(100vw - 576px)/(1440 - 576));
}

  @media screen and (max-width: 576px) {
    @apply flex-col space-x-0 space-y-0;
    // height: calc(400px + (725 - 400)*(100vw - 320px)/(576 - 320));
  }
}

.swiper {
  width: 100%;
  // height: 600px;
  margin-left: auto;
  margin-right: auto;
}
// .thumb__wrapper {
.swiper_slide {
  overflow: hidden;
  img {
    // @apply mb-[2%];
    display: block;
    width: 100%;
    height: 100%;
    // object-fit: cover;
  }
// }
}
.swiper_thumb_slide {
  img {
    // @apply mb-[2%];
    display: flex;
    width: 100%;
    height: 100%;
    // object-fit: cover;
  }
}
.mySwiper {
  @apply w-[33%];
  height: 100%;
  .swiper_thumb_slide {}

  @media (max-width: 576px) {
    @apply w-full;
    // height: calc(200px + (525 - 200)*(100vw - 320px)/(576 - 320));
  }
}

.mySwiper2 {
  // height: 100%;
  min-height: 100%;
  width: 67%;

  @media (max-width: 576px) {
    @apply w-full;
    height: calc(200px + (525 - 200)*(100vw - 320px)/(576 - 320));
  }
}

.swiper_pagination_bullet {
  @apply p-[5%];
}

// // =====>
// .swiper_button {
//     margin: 8px;
//     background: #1f7f9e;
//     padding: 6px 14px;
//     cursor: pointer;
//     color: #fff;

//     &:hover {
//       background: #0e556c;
//     }
//   }
//   .timeline-icon {
//     // @apply inline-block bg-black;
//   }