// =============================================>

.gallery__inner {
  @apply w-full h-[521px] space-x-[1%] flex;

  @media screen and(max-width: 1440px) {
    height: calc(208px + (521 - 208)*(100vw - 576px)/(1440 - 576));
}

  @media screen and (max-width: 576px) {
    @apply flex-col space-x-0 space-y-[2%];
    height: calc(230px + (420 - 230)*(100vw - 320px)/(576 - 320));
  }
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper_slide img{
  display: block;
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper_slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 90%;
  width: 70%;
  @media screen and (max-width: 576px) {
    @apply w-full h-[70%];
  }
}

.mySwiper {
  height:90%;
  width: 30%;
  box-sizing: border-box;
  // padding: 10px 0;
  @media screen and (min-width: 1440px) {
    @apply h-[90%];
  }
  @media screen and (max-width: 576px) {
    @apply w-full h-[20%];
  }
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper_slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.--swiper-slide-thumb-active {
  // &::after {
  //   -webkit-box-sizing: border-box;
  //   box-sizing: border-box;
  //   content: '';
  //   background-color: black;
  //   display: inline-block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 1;
  //   opacity: 0;
  // }
  
}
.thumb__hero_image {}
