.hero__bg {
    @apply flex absolute top-0 left-0 h-full w-full;

    background-image: url("../../../../public/static/planning-page/hero-animete/white-cloud-blue-sky-background 1.png");

    @media screen and(max-width: 576px) {
        // @apply hidden;
    }
}

.hero__cloude {
    @apply absolute top-0 left-0 h-full w-full z-[2];

    background-image: url("../../../../public/static/planning-page/hero-animete/lighting-cloud.png");

    @media screen and(max-width: 576px) {
        @apply hidden;
    }
}

.hero__cloude_animate__grey_1 {
    @apply absolute top-[3vw] left-0 h-[13vw] w-[70%] z-[2] opacity-30;

    &::after {
        content: '';
        display: flex;
        background-image: url("../../../../public/static/planning-page/hero-animete/31003-7-storm-clipart.png");
        @apply absolute top-0 left-0 h-full bg-no-repeat  w-full bg-contain bg-center rotate-180 opacity-70;
    }

    

    @media screen and(max-width: 576px) {
        @apply absolute top-[23vw] left-0 h-[23vw] w-[70%] z-[2] opacity-30;
    }
}

.hero__cloude_animate__grey_2 {
    @apply absolute top-0 left-0 h-[5vw] w-[50%] bg-cover bg-center opacity-50 z-[2];

    &::after {
        content: '';
        display: flex;
        background-image: url("../../../../public/static/planning-page/hero-animete/31003-7-storm-clipart.png");
        @apply absolute top-0 left-0 h-full bg-no-repeat  w-full bg-contain bg-center;
    }
    @media screen and(max-width: 576px) {
        @apply absolute top-[10vw] left-0 h-[15vw] w-[50%] bg-cover bg-center opacity-50 z-[2];
    }
}
.hero__cloude_animate__grey_3 {
    @apply absolute top-0 left-0 h-[10vw] w-[50%] bg-cover bg-center z-[2];

        &::after {
        content: '';
        display: flex;
        background-image: url("../../../../public/static/planning-page/hero-animete/31003-7-storm-clipart.png");
        @apply absolute top-0 left-0 h-full  w-full bg-no-repeat bg-contain bg-center;
    }

    // background-image: url("../../../../public/static/planning-page/hero-animete/31003-7-storm-clipart.png");

    @media screen and(max-width: 576px) {
        @apply absolute top-0 left-0 h-[30vw] w-[50%] bg-cover bg-center z-[2];
    }
}

.hero__build {
    @apply h-[37vw] w-full absolute bottom-0 left-0 z-10 bg-no-repeat bg-cover bg-center;

    background-image: url("../../../../public/static/planning-page/hero-animete/Gradina\ Botanica\ transa\ 2_View14\ 1.png");

    @media screen and(max-width: 576px) {
        @apply hidden;
    }

    @media screen and (min-width: 1600px) {
        @apply h-[520px];
    }
}