@import '../../../../../styles/mixins.scss';

.loaction__mark_description {
    display: block;
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        background-color: #fff;
        z-index: 20;
        overflow: hidden;
        border-radius: 5px;
        animation-name: is-open;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;

        @keyframes is-open {
           from {opacity: 0; x:0}
           to {opacity: 1; x:100%}
        }

        &:hover {
            @apply cursor-pointer;
        }
}

.loaction__back_btn {
    @include text(15px, 200%, 400, #2BB018);
    @apply absolute top-[3%] right-[2%] z-auto bg-white px-[2%] rounded-full hover:cursor-pointer uppercase;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 576px) {
        @include text(13px, 200%, 400, #2BB018);
    }
}