.events__inner {
    @media all and (min-width:576px) {
        @apply bg-[url('/static/event-page/events-bg.webp')] bg-bottom bg-no-repeat object-fill bg-cover;
    }

    @apply flex flex-col items-center h-screen w-full bg-[url('/static/event-page/event-bg-mob.webp')] bg-no-repeat object-fill bg-cover bg-center;
}
.events__title {
    @apply hidden;

    @media all and (min-width: 576px) {
        @apply block h-[10vw] w-full mt-[16vw];
    }

    @media all and (min-width: 769px) {
        @apply text-center mt-[3vw] h-[10vw]; 
             
    }

    // @media all and (min-width: 1200px) {
    //     @apply h-[8vw] mt-[3vw];        
    // }

    // @media all and (min-width: 1441px) {
    //     @apply text-center mt-[27px] h-[102px];        
    // }

    @media all and (min-width: 1600px) {
        @apply text-center mt-[70px] h-[150px];        
    }

    @media all and (min-width: 2000px) {
        @apply mt-[110px];        
    }
}
.events__title_mob {
    @media all and (min-width: 320px) {
        @apply block mt-[14vw] text-[#2d2d2b] leading-[200%] tracking-[0.85px] text-[5.984vw] font-bold uppercase text-center;
        font-family: 'Gilroy-Bold';

        span {
            @media all and (min-width: 320px) {
                @apply inline-block text-[#2BB018]
            }
        }
    }

    @media all and (min-width: 576px) {
        @apply hidden;
    }
}
.events__btn {
    @media all and (min-width: 320px) {
        @apply mt-[9.81vw] w-[93.46vw] text-[6.3vw] py-[2.6vw] rounded-[6px] text-white uppercase;
        background: linear-gradient(180deg, #42C530 0%, #2BA433 100%);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
        font-family: 'Montserrat Bold';
        text-shadow: 0px 3.07692px 3.07692px rgba(0, 0, 0, 0.25);
        border-radius: 7.75px;   
    }

    @media all and (min-width: 576px) {
        @apply absolute top-[62%] py-[2vw] text-[3vw] w-[55vw];
        background: linear-gradient(180deg, #42C530 0%, #2BA433 100%);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7.75px;

        &:hover {
            background: linear-gradient(180deg, #7ecd73 0%, #60b465 50%);
            transition: all .5s ease-in-out;
        }
    }

    @media all and ( min-width: 769px ) {
        @apply top-[48%] w-[39.73vw] py-[1.13vw] text-[2.674vw];
    }

    @media all and (min-width: 1439px) {
        @apply top-[390px] py-[15px] text-[35px] w-[520px] ;
    }

    @media all and (min-width: 1600px) {
        @apply top-[490px] py-[15px] text-[35px] w-[520px] ;
    }

    @media all and (min-width: 2000px) {
        @apply top-[640px];        
    }
}
.events__copy {
    @apply text-[16px] text-[#fff] absolute bottom-[36px] left-[138px];

    @media all and (max-width: 576px) {
        @apply text-[10px] left-[8vw];
    }
}