.events__inner {
    @media all and (min-width: 320px) {
        @apply h-screen w-screen flex flex-col items-center justify-start bg-[url('/static/event-page/event-bg-mob.webp')] relative top-0 left-0 bg-no-repeat bg-cover bg-center space-y-[6vh];
    }
    @media all and (min-width:576px) {
        @apply h-screen w-screen bg-[url('/static/event-page/events-bg.webp')] relative top-0 left-0 bg-no-repeat bg-cover bg-center space-y-[38vh];
    }

    @media all and (min-width:1920px) {
        @apply space-y-[45vh];
    }
}
.events__title {
    @apply hidden;

    @media all and (min-width: 576px) {
        @apply block h-[10vw] w-full mt-[5vh];
    }

    @media all and (min-width: 769px) {
        @apply text-center h-[10vw] ;         
    }

    @media all and (min-width: 1600px) {
        @apply text-center h-[150px];        
    }

    @media all and (min-width: 2000px) {
        @apply mt-[110px];        
    }
}
.events__title_mob {
    @media all and (min-width: 320px) {
        @apply block text-[#2d2d2b] leading-[200%] tracking-[0.85px] text-[5.984vw] font-bold uppercase text-center;
        font-family: 'Gilroy-Bold';

        span {
            @media all and (min-width: 320px) {
                @apply inline-block text-[#2BB018]
            }
        }
    }

    @media all and (min-width: 576px) {
        @apply hidden;
    }
}
.events__btn {
    @media all and (min-width: 320px) {
        @apply w-[92vw] text-[6.3vw] py-[2.6vw] rounded-[6px] text-white uppercase;
        background: linear-gradient(180deg, #42C530 0%, #2BA433 100%);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
        font-family: 'Montserrat Bold';
        text-shadow: 0px 3.07692px 3.07692px rgba(0, 0, 0, 0.25);
        border-radius: 7.75px;   
    }

    @media all and (min-width: 576px) {
        @apply py-[2vw] text-[3vw] w-[55vw];
        background: linear-gradient(180deg, #42C530 0%, #2BA433 100%);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7.75px;

        &:hover {
            background: linear-gradient(180deg, #7ecd73 0%, #60b465 50%);
            transition: all .5s ease-in-out;
        }
    }

    @media all and ( min-width: 769px ) {
        @apply w-[39.73vw] py-[1.13vw] text-[2.674vw];
    }

    @media all and (min-width: 1439px) {
        @apply py-[15px] text-[35px] w-[520px] ;
    }

    @media all and (min-width: 1600px) {
        @apply py-[15px] text-[35px] w-[520px] ;
    }

    @media all and (min-width: 2000px) {
        // @apply top-[640px];        
    }
}
.events__copy {
    @apply  absolute bottom-[2vh] left-[138px];   

    @media all and (min-width: 320px) {
        @apply text-[#fff] text-[10px] left-[8vw];
    }
}