@import '../../../../../styles/mixins.scss';

.complex__grid_month {
    @apply grid grid-cols-3 gap-y-[3%] gap-x-[2%];

    @media screen and(max-width: 576px) {
        @apply grid grid-cols-2 grid-rows-3 gap-x-[2%] gap-y-[2%];
    }
}
.complex__grid_item {
    @apply flex flex-col h-auto w-full relative top-0 rounded-md overflow-hidden duration-200 hover:scale-105 hover:cursor-pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);

    .item__info {
        @apply hidden;
    }
}
.item__bg {
    @apply flex rounded-t-md;
}
.item__description {
    @apply flex justify-start items-center py-[4%] pl-[5%] space-x-[3%];

    @media screen and (max-width: 576px) {
        @apply py-[8%];
    }
}
.item__description_icon {
    @media screen and (max-width: 1200px) {
        @apply w-[13%] h-auto flex align-middle;
    }
}
.item__description_text {
    @include text(15px, 130%, 400, #2D2D2B);
    font-family: 'Gilroy Semibold';

    @media screen and (max-width: 1440px) {
        @apply text-[1vw];
    }

    @media screen and (max-width: 576px) {
        @apply flex self-center;
        font-family: 'Gilroy Regular';
        font-size: calc(6px + (13 - 6)*(100vw - 320px)/(576 - 320));
    }
}
