@import '../../styles/mixins.scss';

.offer__section {
    @apply h-screen w-full fixed top-0 flex items-center justify-center left-0 z-20;
    background: rgb(0 0 0 / 85%);

    @media screen and (max-width: 576px) {
        @apply px-[3%] flex items-start pt-[40%];
    }
}
.offer__container {
    @apply w-[1170px] mx-auto px-0;

    @media screen and(max-width: 1440px) {
        @apply w-full px-[9.3%];
    }
    @media screen and(max-width: 1440px) {
        @apply px-0;
    }
}
.offer__inner {
    @apply flex flex-col items-center justify-center h-auto w-[63%] bg-white relative z-auto pt-[3%] pb-[4.5%] mx-auto rounded-md;

    @media screen and (max-width: 576px) {
        @apply w-full py-[15%] px-[5%];
    }
}
.offer__button_close {
    @apply absolute top-[4%] right-[2.5%];

    @media screen and(max-width: 576px) {
        @apply top-[3%];
    }
}
.offer__title {
    @include text(32px, 130%, 600, #2D2D2B);
    @apply text-center tracking-wider;
    font-family: 'Montserrat Semibold';

    @media screen and (min-width: 576px) {
        @apply text-[2.5vw];
    }

    @media screen and (max-width: 576px) {
        @apply text-[3.25vw];
    }
}
.offer__subtitle {
    @include text(16px, 130%, 400, #2c2c2c);
    @apply text-center mt-[2%] tracking-wider;
    font-family: 'Montserrat Regular';

    @media screen and(max-width: 1440px) {
        font-size: calc(7px + (20 - 7)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        font-size: calc(6px + (15 - 6)*(100vw - 320px)/(576 - 320));
    }
}
.offer__form {
    @apply flex flex-col py-[4%] mx-auto w-[52%];
    font-family: 'Montserrat Regular';

    input {
        @include text(15px, 130%, 400, #2D2D2B);
        @apply border-[1px] border-[#C4C4C4] rounded-sm py-[3%] mb-[3%] pl-[3%] focus-visible:outline-none;
        font-family: 'Montserrat Regular';

        @media screen and(max-width: 1440px) {
            font-size: calc(6px + (15 - 6)*(100vw - 576px)/(1440 - 576));
        }

        @media screen and(max-width: 576px) {
            @apply mb-[5%] rounded-md;
            font-size: calc(10px + (22 - 10)*(100vw - 320px)/(576 - 320));
        }

        &::placeholder {
            @include text(15px, 130%, 400, #2D2D2B);
            @apply uppercase tracking-wider opacity-30;
            font-family: 'Montserrat Regular';

            @media screen and(max-width: 1440px) {
                font-size: calc(6px + (15 - 6)*(100vw - 576px)/(1440 - 576));
            }

            @media screen and(max-width: 576px) {
                font-size: calc(10px + (22 - 10)*(100vw - 320px)/(576 - 320));
            }
        }
    }
    .input {
        @include text(15px, 130%, 400, #2D2D2B);
        @apply border-0 rounded-sm py-[1%] mb-[3%] h-full focus-visible:outline-none;
        font-family: 'Montserrat Regular';

        input {
            @apply py-[5%] w-full border-[1px] border-[#C4C4C4];
            font-family: 'Montserrat Regular';
        }

        @media screen and(max-width: 1440px) {
            font-size: calc(6px + (15 - 6)*(100vw - 576px)/(1440 - 576));
        }

        @media screen and(max-width: 576px) {
            @apply mb-[5%] rounded-md;
            font-size: calc(10px + (22 - 10)*(100vw - 320px)/(576 - 320));
        }

        &::placeholder {
            @include text(15px, 130%, 400, #2D2D2B);
            @apply uppercase tracking-wider opacity-30;
            font-family: 'Montserrat Regular';

            @media screen and(max-width: 1440px) {
                font-size: calc(6px + (15 - 6)*(100vw - 576px)/(1440 - 576));
            }

            @media screen and(max-width: 576px) {
                font-size: calc(10px + (22 - 10)*(100vw - 320px)/(576 - 320));
            }
        }
    }

    @media screen and(max-width: 576px) {
        @apply w-full;
    }
}
// ===== send button =====>
.button__sending {
    @include text(15px, 130%, 700, #000);
    @apply flex justify-center w-full bg-[#2BB018] border-[#2BB018] border-[1px] text-white mx-auto py-[3.5%] rounded uppercase text-center tracking-widest hover:duration-200;
    font-family: 'Montserrat Regular';
    &:hover {
        animation-name:  pulse;
        animation-duration: 1s;
        @keyframes pulse {
            0% {
                transform: scale(1);
            }
            50%{
                transform: scale(1.1);
            }
            100% {
                transform: scale(1);
            }
        }
    }

    @media screen and(max-width: 1440px) {
        font-size: calc(6px + (15 - 6)*(100vw - 576px)/(1440 - 576));
    }
    @media screen and(max-width: 576px) {
        @apply px-[5%] w-full rounded-md;
        font-size: calc(10px + (22 - 10)*(100vw - 320px)/(576 - 320));
    }
}
// ===== terms and policy =====>
.terms__policy {
    @apply text-center mt-[-2.5%];

    @include text(15px, 130%, 400, #2c2c2c);

    @media screen and(max-width: 1440px) {
        font-size: calc(7px + (15 - 7)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @apply mt-0;
        font-size: calc(6px + (16 - 6)*(100vw - 320px)/(576 - 320));
    }
}
.terms {
    @apply text-[#2BB018];
}
.policy {
    @apply text-[#2BB018];
}