.video__wrapper {
    @apply h-auto w-full flex flex-col mt-[3%] mx-auto overflow-hidden mb-[6%];
    background: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 576px) {
        @apply mt-[3%] mb-0 bg-transparent h-[250px];
        box-shadow:none;
    }
}