@import '../../../../styles/mixins.scss';

.header {
    @apply relative top-0 left-0 bg-white h-auto w-full z-10;
    font-family: 'Gilroy-Bold';
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}
.container {
    @apply w-[1170px] mx-auto px-0;

    @media screen and(max-width: 1440px) {
        @apply w-full px-[9.3%];
    }
    @media screen and(max-width: 576px) {
        @apply w-full px-[5%];
    }
}
.header__inner {
    @apply flex justify-between items-center py-[0.7%] w-full h-full;

    @media screen and(max-width: 576px) {
        @apply py-[2%];
    }
}
.header__logo {
    @media screen and(max-width: 1440px) {
        width: calc(43px + (108 - 43)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        width: calc(69px + (123 - 69)*(100vw - 320px)/(576 - 320));
    }
}
.button__planning {
    @include text(24px, 130%, 400, #c4c2c2);
    @apply flex justify-center bg-none border-[1px] px-[38px] py-[5px] rounded uppercase text-center tracking-wider hover:bg-white hover:text-[#2BB018] hover:transition-all hover:duration-150;

    @media screen and(max-width: 1440px) {
        @apply w-[20%] py-[0.5%] px-0;
        font-size: calc(9px + (24 - 9)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @apply w-[35%] py-[2%] text-black border-[1px] border-[#2BB018];
        font-size: calc(10px + (14 - 10)*(100vw - 320px)/(576 - 320));
    }
}
.header__phone_link {
    @include text(20px, 100%, 700, rgba(88, 88, 87, 1));
    @apply flex items-center justify-end w-[28%] hover:scale-110;
    animation-name: stretch;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-direction:alternate-reverse;
    animation-iteration-count: infinite;
    animation-play-state: running;

    @keyframes stretch {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.1);
        }
    }

    @media screen and(max-width: 576px) {
        @apply flex justify-center w-[60%];
    }
}
.header__phone_icon {
    @apply self-center duration-75 delay-200 ;

    @media screen and(max-width: 576px) {
        @apply w-[15px] pt-1;
    }

}
.header__phone_link_number {
    @apply inline-block ml-[3%] uppercase;
}