@import '../../../../styles/mixins.scss';

.footer {
    @apply relative top-0 left-0 h-auto w-full z-10;
    font-family: 'Gilroy-Bold';
}
.container {
    @apply w-[1170px] mx-auto px-0;

    @media screen and(max-width: 1440px) {
        @apply w-full px-[9.3%];
    }
    @media screen and(max-width: 576px) {
        @apply w-full px-[9%];
    }
}
.footer__inner {
    @apply grid grid-cols-3 py-[2%] w-full h-full relative;

    &::after {
        content: "";
        display: inline-block;
       position: absolute;
       bottom: 0;
       left: 0; 
       height: 1px;
       width: 100%;
       background: #2BB018;
    }
}
.footer__logo {
    @apply self-center hover:scale-75 hover:duration-200;

    @media screen and(max-width: 1440px) {
        width: calc(69px + (171 - 13)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @apply w-[100%];
        width: calc(59px + (101 - 59)*(100vw - 320px)/(576 - 320));
    }
}
.footer__socials {
    @apply h-auto flex justify-center items-center space-x-[7%];

    @media screen and(max-width: 576px) {
        @apply w-[100%] space-x-[15%];
        width: calc(59px + (101 - 59)*(100vw - 320px)/(576 - 320));
    }

}
.social__item {
    @apply w-9 h-9 bg-white rounded-full flex justify-center;

    @media screen and(max-width: 900px) {
        @apply w-7 h-7;
    }

    @media screen and(max-width: 576px) {
        @apply w-4 h-4;
    }
}
.social__item_icon {
    @apply flex items-center;

    @media screen and(max-width: 1440px) {
        width: calc(15px + (24 - 15)*(100vw - 576px)/(1440 - 576));
    }
    @media screen and(max-width: 576px) {

            width: calc(8px + (10 - 8)*(100vw - 320px)/(576 - 320));
    }
}
.footer__contact {
    @apply flex flex-col h-full space-y-[1%];

    @media screen and(max-width: 1100px) {
        @apply ml-[25%];
    }
    @media screen and(max-width: 768px) {
        @apply ml-[17%];
    }
    @media screen and(max-width: 576px) {
        @apply space-y-[-5%] w-[100%] ml-0;
    }
}
.footer__contact_item {
    @apply flex items-center space-x-[5%] w-[65%] self-end;

    @media screen and (max-width: 576px) {
        @apply w-[110%];
    }
}
.footer__contact_icon {
    @media screen and(max-width: 1440px) {
        width: calc(13px + (24 - 13)*(100vw - 576px)/(1440 - 576));
    }
   
    @media screen and(max-width: 576px) {
        width: calc(13px + (24 - 13)*(100vw - 576px)/(1440 - 576));
    }
}
.footer__contact_text {
    @apply text-white text-[15px] font-thin;

    @media screen and(max-width: 1440px) {
        font-size: calc(8px + (15 - 8)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        font-size: calc(6px + (11 - 6)*(100vw - 320px)/(576 - 320));
    }
}
.footer__bottom {
    @include text(16px, 100%, 300, #fff);
    @apply py-[1.5%] tracking-wider;
    font-family: 'Gilroy Regular';

    @media screen and(max-width: 1440px) {
        font-size: calc(6px + (16 - 6)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @apply text-left py-[3%];
        font-size: calc(6px + (12 - 6)*(100vw - 320px)/(576 - 320));
    }
}