@import '../../../../styles/mixins.scss';

.footer {
    @apply relative top-0 left-0 h-auto w-full z-10;
    font-family: 'Gilroy-Bold';
}
.container {
    @apply w-[1170px] mx-auto px-0;

    @media screen and(max-width: 1440px) {
        @apply w-full px-[9.3%];
    }
    @media screen and(max-width: 576px) {
        @apply w-full px-[9%];
    }
}
.footer__inner {
    @apply grid grid-cols-3 py-[2%] w-full h-full relative;

    @media screen and (max-width: 576px) {
        @apply grid grid-cols-2 grid-rows-1 pb-[2%] pt-[4%] gap-3 ;
    }
}
.footer__logo {
    @apply self-center;

    @media screen and(max-width: 1440px) {
        width: calc(69px + (171 - 13)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @apply w-[100%];
        width: calc(59px + (101 - 59)*(100vw - 320px)/(576 - 320));
    }
}
.footer__socials {
    @apply h-auto flex justify-center items-center space-x-[7%];

    @media screen and(max-width: 576px) {
        @apply w-full flex justify-between;
    }

}
.social__item {
    @apply w-9 h-9 bg-white rounded-full flex justify-center;

    @media screen and(max-width: 900px) {
        @apply w-7 h-7;
    }

    @media screen and(max-width: 576px) {
        @apply w-8 h-8;
    }
}
.social__item_icon {
    @apply flex items-center;

    @media screen and(max-width: 1440px) {
        width: calc(15px + (24 - 15)*(100vw - 576px)/(1440 - 576));
    }
    @media screen and(max-width: 576px) {
            width: calc(12px + (16 - 12)*(100vw - 320px)/(576 - 320));
    }
}
.social__item_icon_YT {
    @apply flex items-center justify-center;

    @media screen and(max-width: 1440px) {
        width: calc(15px + (24 - 15)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        width: calc(15px + (30 - 15)*(100vw - 320px)/(576 - 320));
}
}
.footer__contact {
    @apply flex flex-col justify-center h-full space-y-[3%];

    @media screen and(max-width: 576px) {
        @apply hidden;
    }
}
.footer__contact_mob {
    @apply hidden;

    @media screen and(max-width: 576px) {
        @apply flex flex-col gap-3 items-center w-full pb-[5%] pl-[15%];
    }
}
.footer__contact_item {
    @apply flex items-center space-x-[5%] w-[63%] self-end;

    @media screen and (max-width: 1150px) {
        @apply w-[62%];
    }

    @media screen and (max-width: 790px) {
        @apply w-[70%];
    }

    @media screen and (max-width: 576px) {
        @apply w-full space-x-[7%];
    }
}
.footer__contact_icon {
    @apply flex justify-center;
    @media screen and(max-width: 1440px) {
        width: calc(13px + (24 - 13)*(100vw - 576px)/(1440 - 576));
    }
   
    @media screen and(max-width: 576px) {
        @apply h-auto;
        width: calc(20px + (30 - 20)*(100vw - 320px)/(576 - 320));
    }
}
.footer__contact_text {
    @include text(15, 100%, 400, #fff);
    font-family: 'Gilroy Regular';
    @apply tracking-wider;

    @media screen and(max-width: 1440px) {
        font-size: calc(8px + (15 - 8)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        // @apply font-light;
        font-size: calc(10px + (25 - 10)*(100vw - 320px)/(576 - 320));
    }
}
.footer__contact_text_phone {
    @include text(15, 100%, 400, #fff);
    font-family: 'Gilroy Regular';
    @apply tracking-wider;

    @media screen and(max-width: 1440px) {
        font-size: calc(8px + (15 - 8)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        // @apply font-light;
        font-size: calc(10px + (25 - 10)*(100vw - 320px)/(576 - 320));
    }
}
.footer__bottom {
    @include text(16px, 100%, 300, #fff);
    @apply py-[1.5%] tracking-wider relative top-0 left-0;
    font-family: 'Gilroy Regular';

    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0; 
        height: 1px;
        width: 100%;
        background: #2BB018;
    }

    @media screen and(max-width: 1440px) {
        font-size: calc(6px + (16 - 6)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @apply text-left py-[3%];
        font-size: calc(6px + (12 - 6)*(100vw - 320px)/(576 - 320));
    }
}