@import '../../../styles/mixins.scss';

.designs__section {
    @apply h-auto max-w-full relative top-0 left-0 bg-white;
    font-family: 'Gilroy-Bold';
}

.designs__wrapper {
    @apply w-full mx-auto px-[6%];

    @media screen and (max-width: 576px) {
        @apply px-[5%];
    }
}

.designs__inner {
    @apply flex flex-col justify-center h-full w-full;
}

.designs__title {
    @include text(32px, 150%, 400, #2D2D2B);
    @apply relative pt-[2%] uppercase text-center;

    @media screen and (max-width: 1440px) {
        // @apply pt-[5.8%];
    }

    @media screen and (max-width: 576px) {
        @apply pt-[10%];
        font-size: calc(10px + (16 - 10)*(100vw - 320px)/(576 - 320));
    }

    span {
        background: radial-gradient(50% 50% at 50% 50%, #2BB018 0%, rgba(43, 176, 24, 0) 100%);
        position: absolute;
        bottom: -5%;
        left: 25%;
        height: 2%;
        width: 50%;

        @media screen and (max-width: 576px) {
            @apply w-[100%] left-0;
            font-size: calc(10px + (16 - 10)*(100vw - 320px)/(576 - 320));
        }
    }


    @media screen and(max-width: 1440px) {
        font-size: calc(13px + (32 - 13)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        // @apply mt-[10%];
        font-size: calc(14px + (24 - 14)*(100vw - 320px)/(576 - 320));
    }
}

.designs__grid {
    @apply grid grid-cols-4  gap-x-[5%] gap-y-[10%] pt-[4.5%] h-auto w-full;

    @media screen and (max-width: 576px) {
        @apply grid grid-cols-2 gap-y-[5%] mt-[3%];
    }
}

.designs__item {
    @apply h-full w-full flex flex-col justify-center items-center;
}

.designs__image {
    @apply flex items-center justify-center h-full w-full;

    @media screen and (max-width: 1024px) {
        @apply w-[40%];
    }

    @media screen and (max-width: 576px) {
        @apply w-[40%];
    }
}

.designs__item_name {
    @apply text-center mt-[2%];
    @include text(15px, 130%, 400, #2D2D2B);

    @media screen and(max-width: 1440px) {
        font-size: calc(6px + (15 - 6)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @apply mt-[7%];
        font-size: calc(9px + (16 - 9)*(100vw - 320px)/(576 - 320));
    }
}
//  =====>
.button__detail {
    @include text(15px, 130%, 400, #fff);
    @apply flex justify-center bg-[#2BB018] border-[1px] w-[20%] py-[1%] mx-auto mt-[10%] rounded uppercase text-center tracking-wider hover:bg-white hover:text-[#2BB018] hover:transition-all hover:duration-150;

    @media screen and(max-width: 1440px) {
        // @apply mt-[5.8%];
        font-size: calc(6px + (15 - 6)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @apply mt-[30%] w-[60%] py-[3%];
        font-size: calc(10px + (14 - 10)*(100vw - 320px)/(576 - 320));
    }
}