@import '../../styles/mixins.scss';

.offer__section {
    @apply h-screen w-screen fixed top-0 left-0 z-20;
    background: rgba(45, 45, 43, 0.8);

    @media screen and (max-width: 576px) {
        @apply px-[2%];
    }
}
.offer__inner {
    @apply h-auto w-[50%] bg-white relative top-[25%] left-[25%] z-auto p-[9%] rounded-md;

    @media screen and (max-width: 576px) {
        @apply w-full top-1/2 left-0;
    }
}
.offer__button_close {
    @apply absolute top-[6%] right-[3%];
}
.offer__title {
    @include text(20px, 130%, 600, #2D2D2B);
    @apply text-center;

    @media screen and(max-width: 1440px) {
        font-size: calc(8px + (22 - 8)*(100vw - 576px)/(1440 - 576));
    }
    span {
        @include text(20px, 130%, 700, #2BB018);

        @media screen and(max-width: 1440px) {
            font-size: calc(8px + (22 - 8)*(100vw - 576px)/(1440 - 576));
        }
    }
}
.offer__form {
    @apply flex flex-col py-[7%] space-y-[4%];

    select {
        @include text(15px, 130%, 400, #2D2D2B);
        @apply border-[1px] rounded-md py-[3%] pl-[5%] focus-visible:outline-none;
        font-family: 'Gilroy Regular';

        @media screen and(max-width: 1440px) {
            font-size: calc(6px + (15 - 6)*(100vw - 576px)/(1440 - 576));
        }

        &::placeholder {
            @include text(15px, 130%, 400, #2D2D2B);
            font-family: 'Gilroy Regular';

            @media screen and(max-width: 1440px) {
                font-size: calc(6px + (15 - 6)*(100vw - 576px)/(1440 - 576));
            }
        }
    }
    input {
        @include text(15px, 130%, 400, #2D2D2B);
        @apply border-[1px] rounded-md py-[3%] pl-[5%] focus-visible:outline-none;
        font-family: 'Gilroy Regular';

        @media screen and(max-width: 1440px) {
            font-size: calc(6px + (15 - 6)*(100vw - 576px)/(1440 - 576));
        }

        &::placeholder {
            @include text(15px, 130%, 400, #2D2D2B);
            font-family: 'Gilroy Regular';

            @media screen and(max-width: 1440px) {
                font-size: calc(6px + (15 - 6)*(100vw - 576px)/(1440 - 576));
            }
        }
    }
}
// ===== send button =====>
.button__sending {
    @include text(15px, 130%, 700, #000);
    @apply block bg-[#2BB018] border-[#2BB018] border-2 text-white w-full py-[3%] rounded uppercase text-center tracking-wider hover:bg-white hover:border-2 hover:text-[#2BB018] hover:duration-150;

    @media screen and(max-width: 1440px) {
        font-size: calc(6px + (15 - 6)*(100vw - 576px)/(1440 - 576));
    }
    @media screen and(max-width: 576px) {
        @apply px-[5%];
        font-size: calc(9px + (14 - 9)*(100vw - 320px)/(576 - 320));
    }
}