@import '../../../../styles/mixins.scss';

.timeline {
    @apply flex justify-between w-full;

    @media screen and (max-width: 576px) {
        @apply hidden;
    }
}
.timeline__step {
    @include text(12px, 100%, 400, #C4C4C4);
    @apply relative top-0 left-0 w-full text-center pb-[1.5%] hover:cursor-pointer;

    @media screen and (max-width: 1440px) {
        font-size: calc(7px + (12 - 7)*(100vw - 768px)/(1440 - 768));
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0%;
        left: 0;
        width: 100%;
        height: 4px;
        border: 1px solid #C4C4C4;
    }

    &::before {
        @apply rounded-full z-10;
        content: "";
        position: absolute;
        display: block;
        bottom: -15%;
        right: -8%;
        width: 10px;
        height: 10px;
        background: white;
        border: 1px solid #C4C4C4;
    }
}
.timeline__step_active {
    @include text(12px, 100%, 400, #2BB018);
    @apply relative top-0 left-0 w-full text-center pb-[1.5%] hover:cursor-pointer;
    @media screen and (max-width: 1440px) {
        font-size: calc(7px + (12 - 7)*(100vw - 768px)/(1440 - 768));
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0%;
        left: 0;
        width: 100%;
        height: 4px;
        background: #2BB018;
        border: 1px solid #2BB018;
        
    }

    &::before {
        @apply rounded-full z-10;
        content: "";
        position: absolute;
        display: block;
        bottom: -15%;
        right: -8%;
        width: 10px;
        height: 10px;
        background: #2BB018;
        border: 1px solid #2BB018;
    }
}