@import '../../../../styles/mixins.scss';

.timeline {
    @apply flex flex-row-reverse justify-between w-[100%] relative;

    @media screen and (max-width: 768px) {
        @apply hidden;
    }
}
.timeline__step {
    @include text(12px, 100%, 700, #C4C4C4);
    @apply relative top-0 right-0 w-[100%] pb-[1.5%] hover:cursor-pointer disabled:cursor-default text-right;
    transition: 0.5s all ease-in-out;
    transition-delay: 0.1s;

    @media screen and (max-width: 1440px) {
        font-size: calc(7px + (12 - 7)*(100vw - 768px)/(1440 - 768));
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0%;
        left: 0;
        width: 100%;
        height: 4px;
        background: #C4C4C4;
        transition: 0.5s all ease-in-out;
    transition-delay: 0.1s;
    }

    span {
        @apply rounded-full z-10;
        position: absolute;
        display: block;
        bottom: -15%;
        left: 0;
        width: 12px;
        height: 12px;
        background: white;
        border: 2px solid #C4C4C4;
        transition: 0.5s all ease-in-out;
        transition-delay: 0.1s;
    }
}

.timeline__step_active {
    @include text(13px, 100%, 700, #2BB018);
    @apply relative top-0 left-0 w-[100%] text-right pb-[1.5%] hover:cursor-pointer;
    transition: 0.5s all ease-in-out;
    transition-delay: 0.1s;

    @media screen and (max-width: 1440px) {
        font-size: calc(7px + (13 - 7)*(100vw - 768px)/(1440 - 768));
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0%;
        left: 0;
        width: 100%;
        height: 4px;
        background: #2BB018;
        border: 1px solid #2BB018;
        animation-name: linestep;
        animation-timing-function: ease-in-out;
        transition: 0.1s all ease-in-out;

        @keyframes linestep {
            from {background-color: #2BB018;
                border: 1px solid white;
                left: 0;
            }
            to {background-color: #2BB018;
                border: 1px solid #2BB018;
                right: 100%;
            }
        }
    }

    span {
        @apply rounded-full z-10;
        position: absolute;
        display: block;
        bottom: -17%;
        left: 0;
        width: 12px;
        height: 12px;
        background: #2BB018;
        border: 1px solid #2BB018;
        
        transition-delay: 0.1s;
        animation-name: linestep;
        animation-timing-function: ease-in-out;
        transition: 0.2s all ease-in-out;
        transition-delay: 0.1s;

        @keyframes linestep {
            from {background-color: #2BB018;
                border: 1px solid white;
            }
            to {background-color: #2BB018;
                border: 1px solid #2BB018;
            }
        }
    }
}