@import '../../../../styles/mixins.scss';

.next,
.prev {
  bottom: 50%;
  position: absolute;
  background: #2BB018;
  border-radius: 3px;
  width: 40px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;

  @media screen and (max-width: 1440px) {
    width: calc(16px + (40 - 16)*(100vw - 576px)/(1440 - 576));
    height: calc(10px + (36 - 10)*(100vw - 576px)/(1440 - 576));
}

  @media screen and (max-width: 576px) {
    @apply bottom-[-15%];
    width: calc(30px + (40 - 30)*(100vw - 320px)/(576 - 320));
    height: calc(30px + (40 - 30)*(100vw - 320px)/(576 - 320));
  }
}
.next {
  @apply right-[12%] disabled:bg-transparent disabled:border-[1px] disabled:border-[#2BB018];

  @media screen and (max-width: 576px) {
    @apply right-0;
  }
}
.prev {
  @apply left-[12%] disabled:bg-transparent disabled:border-[1px] disabled:border-[#2BB018];
  transform: scale(-1);

  @media screen and (max-width: 576px) {
    @apply left-0;
  }
}
.img__body {
  position: relative;
  // height: auto;
  max-width: 100vw;
}
.complex__grid_prev_item {
  @apply w-[13%] absolute bottom-[0%] left-[3%] duration-200;

  @media screen and (max-width: 576px) {
      @apply hidden opacity-0;
  }
}
.complex__grid_next_item {
  @apply w-[13%] absolute bottom-[0%] right-[3%] z-10;

  @media screen and (max-width: 576px) {
      @apply hidden opacity-0;
  }
}
// ====== сщгтеук =====Ю
.slider__counter_mob {
  @apply absolute bottom-[-14%] left-[50%] z-10;
}
.inner__counter {
  @apply text-[#2BB018] text-xl;
}
.length__counter {
  @apply text-[#2D2D2B] text-xl;
}