@import '../../../../../styles/mixins.scss';

.complex__section {
    @apply h-auto max-w-full relative top-0 left-0 bg-white my-[-1px];
    font-family: 'Gilroy-Bold';
}
.complex__wrapper {
    @apply w-full mx-auto relative;

    @media screen and (max-width: 576px) {
        @apply px-[5%];
    }
}
.complex__inner {
    @apply flex flex-col justify-center h-full w-full mt-[5%];
}
.complex__title {
    @include text(32px, 150%, 400, #2D2D2B);
    @apply relative pt-[5%] uppercase text-center;

    span {
        background: radial-gradient(50% 50% at 50% 50%, #2BB018 0%, rgba(43, 176, 24, 0) 100%);
        position: absolute;
        bottom: -5%;
        left: 8%;
        height: 2%;
        width: 85%;

        @media screen and (max-width: 576px) {
            @apply w-[95%] left-[5%];
        }
    }

    @media screen and(max-width: 1440px) {
        font-size: calc(13px + (32 - 13)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and (max-width: 576px) {
        @apply pt-[10%] ;
        font-size: calc(12px + (20 - 12)*(100vw - 320px)/(576 - 320));
    }
}
.complex__grid_month {
    @apply grid grid-cols-3 gap-y-[3%] gap-x-[2%];

    @media screen and(max-width: 576px) {
        @apply grid grid-cols-2 grid-rows-3 gap-x-[2%] gap-y-[2%];
    }
}
.complex__grid_item {
    @apply flex flex-col h-auto w-full relative top-0 rounded-md overflow-hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);

    @media screen and(max-width: 576px) {}
}
.complex__grid_item_info {
    @apply flex flex-col h-full w-full relative top-0 rounded-md overflow-hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 576px) {
        @apply hidden;
    }
}
.item__info {
    @include text(10px, 130%, 400, #fff);
    @apply mt-[5%] bg-[#FFA800] uppercase text-center py-[2.5%] tracking-wider;

    @media screen and(max-width: 1440px) {
        font-size: calc(5px + (12 - 5)*(100vw - 576px)/(1440 - 576));
    }
}
.item__info_attention {
    @include text(12px, 130%, 400, #fff);
    @apply mt-[5%] bg-[#DD2525] uppercase text-center py-[6%] tracking-wider;

    @media screen and(max-width: 1440px) {
        font-size: calc(6px + (12 - 6)*(100vw - 576px)/(1440 - 576));
    }
    @media screen and (max-width: 576px) {
        @apply hidden;
    }
}
.item__bg {
    @apply flex rounded-t-md;
}
.item__description {
    @apply flex justify-start items-center py-[4%] pl-[5%] space-x-[5%];

    @media screen and (max-width: 576px) {
        @apply py-[8%];
    }
}
.item__description_icon {
    @media screen and (max-width: 1200px) {
        @apply w-[13%] h-auto flex align-middle;
    }
}
.item__description_text {
    @include text(15px, 130%, 400, #2D2D2B);
    font-family: 'Gilroy Semibold';

    @media screen and (max-width: 1440px) {
        font-size: calc(7px + (15 - 7)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and (max-width: 576px) {
        @apply flex self-center;
        font-family: 'Gilroy Regular';
        font-size: calc(6px + (13 - 6)*(100vw - 320px)/(576 - 320));
    }
}
