@import '../../../styles/mixins.scss';

.footer {
    @apply relative top-0 left-0 h-auto w-full z-10;
    font-family: 'Gilroy-Bold';
}
.container {
    @apply w-[1170px] mx-auto px-0;

    @media screen and(max-width: 1440px) {
        @apply w-full px-[9.3%];
    }
    @media screen and(max-width: 576px) {
        @apply w-full px-[3%];
    }
}
.footer__inner {
    @apply grid grid-cols-3 py-[2%] w-full h-full relative;

    &::after {
        content: "";
        display: inline-block;
       position: absolute;
       bottom: 0;
       left: 0; 
       height: 1px;
       width: 100%;
       background: #2BB018;

       @media screen and (max-width: 576px) {
        @apply opacity-0;
       }
    }

    @media screen and (max-width: 576px) {
        @apply grid grid-cols-2 px-[5%] py-[4%];
    }
}
.footer__logo {
    @apply self-center;

    @media screen and(max-width: 1440px) {
        width: calc(69px + (171 - 69)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        width: calc(87px + (156 - 87)*(100vw - 320px)/(576 - 320));
    }
}
// ===== socials =====>
.footer__socials {
    @apply h-auto flex justify-center items-center space-x-[7%];

    @media screen and(max-width: 576px) {
        @apply space-x-[14%];
    }
}
.social__item {
    @apply bg-white rounded-full flex justify-center;

    @media screen and(max-width: 1440px) {
        height: calc(11px + (26 - 11)*(100vw - 576px)/(1440 - 576));
        width: calc(11px + (26 - 11)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        height: calc(27px + (50 - 27)*(100vw - 320px)/(576 - 320));
        width: calc(27px + (50 - 27)*(100vw - 320px)/(576 - 320));
    }

}
.social__item_icon {
    @apply flex items-center justify-center;

    @media screen and(max-width: 1440px) {
        width: calc(7px + (15 - 7)*(100vw - 576px)/(1440 - 576));
    }
    @media screen and(max-width: 576px) {
        width: calc(17px + (30 - 17)*(100vw - 320px)/(576 - 320));
    }
}
.social__item_icon_YT {
    @apply flex items-center justify-center;

    @media screen and(max-width: 1440px) {
        width: calc(7px + (18 - 7)*(100vw - 576px)/(1440 - 576));
    }
    @media screen and(max-width: 576px) {
        width: calc(22px + (35 - 22)*(100vw - 320px)/(576 - 320));
    }
}
.footer__contact {
    @apply flex flex-col h-full space-y-[1%] ml-[35%];

    @media screen and(max-width: 1100px) {
        @apply ml-[25%];
    }
    @media screen and(max-width: 768px) {
        @apply ml-[17%];
    }
    @media screen and(max-width: 576px) {
        @apply hidden;
    }
    // @media screen and(max-width: 405px) {
    //     @apply ml-0;
    // }
}
.footer__contact_item {
    @apply flex items-center space-x-[5%];
}
.footer__contact_mob {
   @apply hidden;
    @media screen and(max-width: 576px) {
        @apply block w-[50%] mx-auto pb-[4%];
    }
}
.footer__contact_icon {
    @media screen and(max-width: 1440px) {
        width: calc(13px + (24 - 13)*(100vw - 576px)/(1440 - 576));
    }
   
    @media screen and(max-width: 576px) {
        width: calc(20px + (30 - 20)*(100vw - 576px)/(1440 - 576));
    }
}
.footer__contact_text {
    @apply text-white text-[15px];

    @media screen and(max-width: 1440px) {
        font-size: calc(8px + (15 - 8)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        font-family: 'Gilroy Regular';
        font-size: calc(9px + (16 - 9)*(100vw - 320px)/(576 - 320));
    }
}
.footer__contact_bottom {
    @apply flex flex-col w-full h-full space-y-[2%];
    .social__item_icon {
        @media screen and(max-width: 576px) {
            width: calc(17px + (30 - 17)*(100vw - 320px)/(576 - 320));
        }
    }
    .footer__contact_text {
        @apply flex;
        @media screen and(max-width: 576px) {
            font-family: 'Gilroy Regular';
            font-size: calc(9px + (16 - 9)*(100vw - 320px)/(576 - 320));
        }
    }
}
// ===== footer bottom =====>
.footer__bottom {
    @include text(16px, 100%, 300, #fff);
    @apply py-[1.5%] tracking-wider;
    font-family: 'Gilroy Regular';

    @media screen and(max-width: 1440px) {
        font-size: calc(6px + (16 - 6)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @apply text-center pb-[5%];
        font-size: calc(6px + (12 - 6)*(100vw - 320px)/(576 - 320));
    }
}
