@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gilroy Regular';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url('../fonts/Gilroy-Regular.woff'),
      url('../fonts/Gilroy-Regular.woff2');
  }

  @font-face {
    font-family: 'Gilroy Semibold';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url('../fonts/Gilroy-SemiBold.woff'),
      url('../fonts/Gilroy-SemiBold.woff2');
  }

  @font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('../fonts/gilroy-bold.woff'),
      url('../fonts/gilroy-bold.woff2');
  }

  @font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('../fonts/Montserrat-Regular.woff'),
      url('../fonts/Montserrat-Regular.woff2');
  }

  @font-face {
    font-family: 'Montserrat Semibold';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url('../fonts/Montserrat-SemiBold.woff'),
      url('../fonts/Montserrat-SemiBold.woff2');
  }

  @font-face {
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url('../fonts/Montserrat-Bold.woff'),
      url('../fonts/Montserrat-Bold.woff2');
  }

@layer {
    body {
        @apply max-w-full h-full mx-auto flex-col flex-1; 

        .ytp-expand-pause-overlay .ytp-pause-overlay {
          @apply opacity-0;
        }
    }
}