@import '../styles/mixins.scss';

.container {
    @apply w-[1170px] mx-auto px-0;

    @media screen and(max-width: 1440px) {
        @apply w-full px-[9.3%];
    }
}
// ===== terms and policy =====>
.terms__inner {
    @apply py-[5%];
}
.terms {
    @apply text-[#2BB018];
}
.terms__title {
    @include text(28px, 130%, 600, #2d2d2b);
    @apply pt-[2%];
    @media screen and(max-width: 1440px) {
        font-size: calc(12px + (28 - 12)*(100vw - 576px)/(1440 - 576));
    }
    @media screen and(max-width: 576px) {
        font-size: calc(12px + (26 - 12)*(100vw - 320px)/(576 - 320));
    }
}
.terms__text {
    @include text(16px, 130%, 400, #2d2d2b);
    @apply pt-[1%] text-justify;
    @media screen and(max-width: 1440px) {
        font-size: calc(7px + (16 - 7)*(100vw - 576px)/(1440 - 576));
    }
    @media screen and(max-width: 576px) {
        font-size: calc(12px + (20 - 12)*(100vw - 320px)/(576 - 320));
    }
}
.policy {
    @apply text-[#2BB018];
}
// ===== header =====>
.header {
    @apply relative top-0 left-0 bg-white h-auto w-full z-10;
    font-family: 'Gilroy-Bold';
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}
.container {
    @apply w-[1170px] mx-auto px-0;

    @media screen and(max-width: 1440px) {
        @apply w-full px-[9.3%];
    }
    @media screen and(max-width: 576px) {
        @apply w-full px-[5%];
    }
}
.header__inner {
    @apply flex justify-between items-center py-[0.7%] w-full h-full;

    @media screen and(max-width: 576px) {
        @apply py-[2%];
    }
}
.header__logo {
    @media screen and(max-width: 1440px) {
        width: calc(43px + (108 - 43)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        width: calc(69px + (123 - 69)*(100vw - 320px)/(576 - 320));
    }
}
.button__planning {
    @include text(24px, 130%, 400, #2BB018);
    @apply flex justify-center bg-none border-[1px] px-[38px] py-[5px] rounded uppercase text-center tracking-wider hover:bg-white hover:text-[#2BB018] hover:transition-all hover:duration-150;

    @media screen and(max-width: 1440px) {
        @apply w-[20%] py-[0.5%] px-0;
        font-size: calc(9px + (24 - 9)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @apply w-[35%] py-[2%] text-black border-[1px] border-[#2BB018];
        font-size: calc(10px + (14 - 10)*(100vw - 320px)/(576 - 320));
    }
}
.header__phone_link {
    @apply flex items-center justify-end w-[15%];

    @media screen and(max-width: 576px) {
        @apply hidden;
    }
}
.header__phone_icon {
    @apply pt-[2.5%];

    @media screen and(max-width: 1200px) {
        @apply w-[17px];
    }

    @media screen and(max-width: 994px) {
        @apply w-[13px];
    }

    @media screen and(max-width: 768px) {
        @apply w-[10px] pt-0;
    }

}
.header__phone_link_number {
    @include text(20px, 100%, 400, #2d2d2b);
    @apply inline-block ml-[3%] uppercase hover:scale-110 hover:text-[#2BB018] hover:duration-150;

    @media screen and(max-width: 1440px) {
        font-size: calc(8px + (20 - 8)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @include text(18px, 130%, 700, #2BB018);
    }
}