@import '../../../styles/mixins.scss';

.hero__section {
    @apply h-full w-full relative top-0 left-0 overflow-hidden;
    font-family: 'Gilroy-Bold';
}
.hero__bg_mobile {
    @apply hidden;

    @media screen and(max-width: 576px) {
        @apply flex relative bottom-0 left-0 h-[80vh] w-full;

        &::after {
            content: "";
            @apply absolute bottom-0 left-0 h-full w-full bg-contain bg-bottom bg-no-repeat;
            background-image: url("../../../public/static/planning-page/hero-animete/GradinaBotanica-mobile.webp");
        }
    }

    @media (max-height: 740px) and (max-width: 576px) {
        @apply h-[92vh];
    }
}
.hero__inner {
    @apply relative flex flex-col justify-center h-full;

    @media screen and(max-width: 576px) {
        @apply absolute top-0 left-0 z-10 w-full;
    }
}
.hero__title {
    @include text(32px, 150%, 400, #2D2D2B);

    @apply relative pt-[2%] uppercase text-center z-10;

    @media screen and(max-width: 1440px) {
    font-size: calc(13px + (32 - 13)*(100vw - 576px)/(1440 - 576));
    }

    @media screen and(max-width: 576px) {
        @apply top-[-35vw];
        line-height: 180%;
        font-size: calc(18px + (27 - 18)*(100vw - 320px)/(576 - 320));
    }

    @media (max-height: 740px) and (max-width: 576px) {
        @apply top-[-35vw];
    }

    span {
        @include text(32px, 150%, 400, #2BB018);
        

        @media screen and(max-width: 1440px) {
            
            font-size: calc(13px + (32 - 13)*(100vw - 576px)/(1440 - 576));
        }

        @media screen and(max-width: 576px) {
            font-size: calc(18px + (27 - 18)*(100vw - 320px)/(576 - 320));
            }
    }
}
.hero__buttons {
    @apply flex justify-center pt-[37%] pb-[3%] mx-auto relative space-x-[3%] w-[60%] z-10;

    @media screen and(max-width: 576px) {
        @apply w-[93%] bottom-[-40vw] flex-col-reverse space-x-0;
    }

    @media (max-width: 415px) and (max-height: 800px) {
        @apply bottom-[-17%];
    }
}
.button__about {
    @include text(12px, 130%, 400, #fff);
    @apply flex justify-center bg-[#2BB018] w-[50%] py-[2%] text-center rounded uppercase tracking-wider items-center hover:bg-[#1e7f11] hover:text-white hover:transition-all hover:duration-150;
    
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);

    @media screen and(max-width: 1440px) {
    font-size: calc(5px + (12 - 5)*(100vw - 576px)/(1440 - 576));
    }
    @media screen and(max-width: 576px) {
        @apply w-full mt-[4%] py-[4%];
        font-size: calc(10px + (24 - 10)*(100vw - 320px)/(576 - 320));
    }
}
.button__planning {
    @include text(12px, 130%, 400, #000);
    @apply block bg-white border-[1px] w-[50%] py-[2%] rounded uppercase text-center tracking-wider hover:bg-slate-300 hover:transition-all hover:duration-150;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);

    @media screen and(max-width: 1440px) {
        font-size: calc(5px + (12 - 5)*(100vw - 576px)/(1440 - 576));
    }
    @media screen and(max-width: 576px) {
        @apply px-[5%] w-full py-[4%];
        font-size: calc(10px + (24 - 10)*(100vw - 320px)/(576 - 320));
    }
}
.separotor {
    @apply hidden;
    @media screen and(max-width: 576px) {
    @apply block;
    }
}
.separotor__hide {
    @apply block;
    @media screen and(max-width: 576px) {
    @apply hidden;
    }
}