@import '../../../../../styles/mixins.scss';

.offer__section {
    @apply h-screen w-full fixed top-0 flex items-center justify-center left-0 z-[1100] duration-200;
    background: rgb(0 0 0 / 85%);

    @media screen and (max-width: 576px) {
        @apply px-0 flex items-start pt-0;
    }
}

.offer__inner {
    @apply flex flex-col items-center justify-center h-screen w-[63%] bg-white relative z-auto mx-auto rounded-md;

    @media screen and (max-width: 576px) {
        @apply w-full pt-[12%] px-0;
    }
}
.offer__button_close {
    @apply absolute top-[4%] right-[7%];

    @media screen and(max-width: 576px) {
        @apply top-[3%];
    }
}
.offer__title {
    @include text(32px, 130%, 600, #2D2D2B);
    @apply text-center tracking-wider mt-[5%] text-[6vw];
    font-family: 'Montserrat Semibold';
}
.image__item {
    @apply relative top-0 left-0 h-[60vh] w-screen;

    span {
        @apply absolute h-full w-full bg-cover bg-center z-10; 
        background-image: url("../../../../../public/static/planning-page/complex/items-images/image-9.webp");
    }
}